body{ 
 flex-direction: column; 
 } 
 body,main{ 
 display: flex; 
 } 
 main{ 
 flex: auto; 
 } 

 aside{ 
 flex: 1; 
 } 
 article{ 
 flex: 3; 
 } 
 .article-image{ 
 float: left; 
}
